@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #242424;
    --column-background: #00000070;
    --card-background: #ffffff10;
    --foreground: #ffffff60;
    --foreground-bold: #ffffff87;
    --warning: FC363960;
    --active: #0184cf;

    color: var(--foreground);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    max-width: 1920px;
}

body {
    @apply w-screen h-screen flex justify-center;
    background-image: url('./assets/images/image.webp');
    background-size: cover;
    background-position: center;
}
