@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #242424;
    --black-70: rgba(0, 0, 0, 0.7);
    --black-10: rgba(255, 255, 255, 0.1);
    --white-60: rgba(255, 255, 255, 0.6);
    --white-87: rgba(255, 255, 255, 0.87);
    --white-30: rgba(255, 255, 255, 0.3), --warning: rgba(252, 54, 57, 0.6);
    --active: #0184cf;

    color: var(--white-60);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

body {
    @apply w-screen h-screen;
    background-image: url('./assets/images/image.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

*::-webkit-scrollbar {
    display: none;
}
